In [21]:
#%pip install pandas as pd

In [22]:
import pandas as pd

processos_CodEmpresa = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático/Backup/v_processos_CodEmpresa_92577.csv", 
            encoding="latin1", sep=";")

processos_CodEmpresa

,cod_empresa,numero_processo,pasta,numero_interno,data_distribuicao,codarea_acao,tipo_acao,local_tramite,data_atendimento,vinculo_tipo,...,cod_cliente_removido,cnj_ok,unificador_processo,cod_processo_removido,migracao2,numero_vara,migracao3,data_ultima_visualizacao,segredo_justica,capturar_andamentos
0,92577,Aguardando numeraÃ§Ã£o,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,18/07/2018 11:51,NaN,NaN
1,92577,"1,23451E+17",0.0,NaN,26/06/2018 00:00,1,NaN,NaN,NaN,NaN,...,NaN,1.0,0,0,NaN,1.0,NaN,18/10/2018 15:14,NaN,NaN
2,92577,Aguardando numeraÃ§Ã£o,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,22/08/2017 17:16,NaN,NaN
3,92577,Aguardando numeraÃ§Ã£o,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,28/09/2017 14:34,NaN,NaN
4,92577,"1,23451E+17",0.0,NaN,22/10/2014 00:00,1,NaN,NaN,NaN,NaN,...,NaN,1.0,0,0,NaN,1.0,NaN,22/04/2019 15:26,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,92577,FGTS 1999,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1041,92577,Trabalhista,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1042,92577,FGTS 1999,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1043,92577,Aguardando numeraÃ§Ã£o,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1044,92577,SB - 42: Aposentadoria por tempo de contribuiÃ...,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
processos_CodEmpresa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 75 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cod_empresa               1045 non-null   int64
 1   numero_processo           1045 non-null   object
 2   pasta                     989 non-null    float64
 3   numero_interno            0 non-null      float64
 4   data_distribuicao         429 non-null    object
 5   codarea_acao              1045 non-null   int64
 6   tipo_acao                 0 non-null      float64
 7   local_tramite             0 non-null      float64
 8   data_atendimento          0 non-null      float64
 9   vinculo_tipo              0 non-null      float64
 10  cod_cliente               1045 non-null   int64
 11  cod_usuario               1045 non-null   int64
 12  cod_advogado_usuario      1045 non-null   int64
 13  cod_parte_adversa         1045 non-null   int64
 14  cod_adv_parte_adversa     1045 non-null   int64
 15  valor_causa               1045 non-null   float64
 16  observacoes               18 non-null     object
 17  data_encerramento         11 non-null     object
 18  inclusao                  1045 non-null   object
 19  ativo                     1045 non-null   int64
 20  codigo                    1045 non-null   int64
 21  objeto_acao               1045 non-null   int64
 22  etiqueta                  0 non-null      float64
 23  destino                   1045 non-null   int64
 24  tipo                      1045 non-null   int64
 25  codorigem                 1045 non-null   int64
 26  data_entrada              0 non-null      float64
 27  prazo                     0 non-null      float64
 28  previsao_saida            0 non-null      float64
 29  cod_processo_apensar      103 non-null    float64
 30  exibir_apenso_raiz        1045 non-null   object
 31  favorito                  1045 non-null   int64
 32  codprognostico            1045 non-null   int64
 33  tipoprocesso              1045 non-null   object
 34  codassunto                1045 non-null   int64
 35  coddetalhesadm            1045 non-null   int64
 36  codobjetoadm              1045 non-null   int64
 37  origem                    0 non-null      float64
 38  codlocaltramite           1045 non-null   int64
 39  uf                        878 non-null    object
 40  codcomarca                1045 non-null   int64
 41  prognostico               0 non-null      float64
 42  statusprocessual          1045 non-null   int64
 43  grupo_processo            1045 non-null   int64
 44  codigo_fase               1045 non-null   int64
 45  data_contratacao          465 non-null    object
 46  pedido                    247 non-null    object
 47  codparceiros              1045 non-null   int64
 48  data_transitojulgado      4 non-null      object
 49  data_sentenca             3 non-null      object
 50  data_execucao             0 non-null      float64
 51  contingencia              1045 non-null   float64
 52  valor_causa2              1045 non-null   float64
 53  migracao                  0 non-null      float64
 54  acao_ajuizada             1045 non-null   int64
 55  cod_fase_processo         0 non-null      float64
 56  campo_livre3              1 non-null      object
 57  processo_traduzido        0 non-null      float64
 58  campo_livre2              0 non-null      float64
 59  campo_livre1              164 non-null    float64
 60  campo_livre4              0 non-null      float64
 61  numero_pasta              1043 non-null   float64
 62  numero_cnj                7 non-null      object
 63  migra_parceiro            0 non-null      float64
 64  unificador_cliente        0 non-null      float64
 65  cod_cliente_removido      0 non-null      float64
 66  cnj_ok                    7 non-null      float64
 67  unificador_processo       1045 non-null   int64
 68  cod_processo_removido     1045 non-null   int64
 69  migracao2                 0 non-null      float64
 70  numero_vara               493 non-null    float64
 71  migracao3                 0 non-null      float64
 72  data_ultima_visualizacao  865 non-null    object
 73  segredo_justica           290 non-null    float64
 74  capturar_andamentos       290 non-null    float64
dtypes: float64(33), int64(27), object(15)
memory usage: 612.4+ KB

In [24]:
processos_CodEmpresa_copy = processos_CodEmpresa.copy()
processos_CodEmpresa_copy.dropna(axis=1, how="all").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cod_empresa               1045 non-null   int64
 1   numero_processo           1045 non-null   object
 2   pasta                     989 non-null    float64
 3   data_distribuicao         429 non-null    object
 4   codarea_acao              1045 non-null   int64
 5   cod_cliente               1045 non-null   int64
 6   cod_usuario               1045 non-null   int64
 7   cod_advogado_usuario      1045 non-null   int64
 8   cod_parte_adversa         1045 non-null   int64
 9   cod_adv_parte_adversa     1045 non-null   int64
 10  valor_causa               1045 non-null   float64
 11  observacoes               18 non-null     object
 12  data_encerramento         11 non-null     object
 13  inclusao                  1045 non-null   object
 14  ativo                     1045 non-null   int64
 15  codigo                    1045 non-null   int64
 16  objeto_acao               1045 non-null   int64
 17  destino                   1045 non-null   int64
 18  tipo                      1045 non-null   int64
 19  codorigem                 1045 non-null   int64
 20  cod_processo_apensar      103 non-null    float64
 21  exibir_apenso_raiz        1045 non-null   object
 22  favorito                  1045 non-null   int64
 23  codprognostico            1045 non-null   int64
 24  tipoprocesso              1045 non-null   object
 25  codassunto                1045 non-null   int64
 26  coddetalhesadm            1045 non-null   int64
 27  codobjetoadm              1045 non-null   int64
 28  codlocaltramite           1045 non-null   int64
 29  uf                        878 non-null    object
 30  codcomarca                1045 non-null   int64
 31  statusprocessual          1045 non-null   int64
 32  grupo_processo            1045 non-null   int64
 33  codigo_fase               1045 non-null   int64
 34  data_contratacao          465 non-null    object
 35  pedido                    247 non-null    object
 36  codparceiros              1045 non-null   int64
 37  data_transitojulgado      4 non-null      object
 38  data_sentenca             3 non-null      object
 39  contingencia              1045 non-null   float64
 40  valor_causa2              1045 non-null   float64
 41  acao_ajuizada             1045 non-null   int64
 42  campo_livre3              1 non-null      object
 43  campo_livre1              164 non-null    float64
 44  numero_pasta              1043 non-null   float64
 45  numero_cnj                7 non-null      object
 46  cnj_ok                    7 non-null      float64
 47  unificador_processo       1045 non-null   int64
 48  cod_processo_removido     1045 non-null   int64
 49  numero_vara               493 non-null    float64
 50  data_ultima_visualizacao  865 non-null    object
 51  segredo_justica           290 non-null    float64
 52  capturar_andamentos       290 non-null    float64
dtypes: float64(11), int64(27), object(15)
memory usage: 432.8+ KB

In [25]:
processos_CodEmpresa_filtrado = processos_CodEmpresa[["cod_cliente", "codigo", "tipo","tipoprocesso","grupo_processo", "codigo_fase", 
                                                      "statusprocessual", "numero_processo", "codorigem","numero_vara", "codcomarca", 
                                                      "valor_causa","valor_causa2", "pasta", "data_contratacao", "data_distribuicao", 
                                                      "data_encerramento", "data_ultima_visualizacao", "observacoes"
                                                      ]]
processos_CodEmpresa_filtrado

,cod_cliente,codigo,tipo,tipoprocesso,grupo_processo,codigo_fase,statusprocessual,numero_processo,codorigem,numero_vara,codcomarca,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes
0,100910080,100980664,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018 11:51,NaN
1,16473336,16928975,0,J,44062,184959,30996,"1,23451E+17",0,1.0,183050,0.0,0.0,0.0,14/12/2017 00:00,26/06/2018 00:00,NaN,18/10/2018 15:14,NaN
2,15916190,16343497,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017 17:16,NaN
3,15617858,16033045,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017 14:34,NaN
4,9198969,9261190,0,J,44062,101283,30996,"1,23451E+17",0,1.0,183050,15000.0,0.0,0.0,14/08/2014 00:00,22/10/2014 00:00,07/09/2015 00:00,22/04/2019 15:26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,7541672,7639630,0,J,0,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1041,9334278,9398045,0,J,0,0,0,Trabalhista,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1042,7371702,7816156,0,J,0,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1043,7736598,7819880,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1044,9575639,9661330,0,J,0,0,0,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [26]:
#Dados dos clientes gerais.
clientes_CodEmpresa = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático/Backup/v_clientes_CodEmpresa_92577.csv", 
                                  encoding = "latin1", sep=";")

clientes_CodEmpresa

,codigo,codempresa,codigo_administrativo,codigo_unit,razao_social,nome_fantasia,responsavel,cnpj,contato_nome,contato_ddd1,...,campo_livre2,cod_campo_livre2,cod_terceiro_categoria,numero_pasta,migracao_parceiro,cod_cliente_estado_civil,cod_usuario,cod_estado_brasil,migracao3,cod_escolaridade
0,106207729,92577,NaN,0,Fulano(a) 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,NaN,NaN
1,106206605,92577,NaN,0,Fulano(a) 2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1366.0,NaN,NaN,NaN,NaN,NaN,NaN
2,8897738,92577,NaN,0,Fulano(a) 3,NaN,NaN,NaN,NaN,NaN,...,NaN,7461.0,NaN,341.0,NaN,NaN,NaN,NaN,NaN,NaN
3,5251301,92577,NaN,0,Fulano(a) 4,NaN,NaN,NaN,NaN,NaN,...,NaN,6280.0,NaN,160.0,NaN,NaN,NaN,NaN,NaN,NaN
4,13203419,92577,NaN,0,Fulano(a) 5,NaN,NaN,NaN,Jana,NaN,...,NaN,6280.0,NaN,560.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,11148520,92577,NaN,0,Fulano(a) 609,NaN,NaN,12.345.678/0001-574,NaN,NaN,...,NaN,6279.0,NaN,463.0,NaN,NaN,NaN,NaN,NaN,NaN
1824,12569969,92577,NaN,0,Fulano(a) 610,NaN,NaN,12.345.678/0001-575,NaN,NaN,...,NaN,6279.0,NaN,534.0,NaN,NaN,NaN,NaN,NaN,NaN
1825,11051680,92577,NaN,0,Fulano(a) 611,NaN,NaN,12.345.678/0001-576,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1826,104510353,92577,NaN,0,Fulano(a) 612,NaN,NaN,12.345.678/0001-577,NaN,NaN,...,NaN,NaN,NaN,1184.0,NaN,NaN,NaN,NaN,NaN,NaN
1827,11905515,92577,NaN,0,Fulano(a) 613,NaN,NaN,12.345.678/0001-578,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
processos_CodEmpresa_filtrado_nome = pd.merge(processos_CodEmpresa_filtrado, clientes_CodEmpresa[["codigo", "razao_social"]], left_on = "cod_cliente", right_on = "codigo", how = "left")

processos_CodEmpresa_filtrado_nome = processos_CodEmpresa_filtrado_nome.drop(columns=["codigo_x"])
processos_CodEmpresa_filtrado_nome = processos_CodEmpresa_filtrado_nome.drop(columns=["codigo_y"])

processos_CodEmpresa_filtrado_nome

,cod_cliente,tipo,tipoprocesso,grupo_processo,codigo_fase,statusprocessual,numero_processo,codorigem,numero_vara,codcomarca,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes,razao_social
0,100910080,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018 11:51,NaN,Fulano(a) 225
1,16473336,0,J,44062,184959,30996,"1,23451E+17",0,1.0,183050,0.0,0.0,0.0,14/12/2017 00:00,26/06/2018 00:00,NaN,18/10/2018 15:14,NaN,Fulano(a) 758
2,15916190,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017 17:16,NaN,Fulano(a) 940
3,15617858,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017 14:34,NaN,Fulano(a) 1327
4,9198969,0,J,44062,101283,30996,"1,23451E+17",0,1.0,183050,15000.0,0.0,0.0,14/08/2014 00:00,22/10/2014 00:00,07/09/2015 00:00,22/04/2019 15:26,NaN,Fulano(a) 1447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7541672,0,J,0,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 212
1052,9334278,0,J,0,0,0,Trabalhista,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 185
1053,7371702,0,J,0,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 1080
1054,7736598,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 175
1055,9575639,0,J,0,0,0,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 148

In [28]:
processos_CodEmpresa_filtrado_nome["data_contratacao"] = pd.to_datetime(processos_CodEmpresa_filtrado_nome["data_contratacao"]).dt.strftime("%d/%m/%Y")
processos_CodEmpresa_filtrado_nome["data_contratacao"]

processos_CodEmpresa_filtrado_nome["data_distribuicao"] = pd.to_datetime(processos_CodEmpresa_filtrado_nome["data_distribuicao"]).dt.strftime("%d/%m/%Y")
processos_CodEmpresa_filtrado_nome["data_distribuicao"]

processos_CodEmpresa_filtrado_nome["data_ultima_visualizacao"] = pd.to_datetime(processos_CodEmpresa_filtrado_nome["data_ultima_visualizacao"]).dt.strftime("%d/%m/%Y")
processos_CodEmpresa_filtrado_nome["data_ultima_visualizacao"]

processos_CodEmpresa_filtrado_nome[["data_contratacao", "data_distribuicao", "data_ultima_visualizacao"]]

C:\Users\vini7\AppData\Local\Temp\ipykernel_14576\3381672975.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  processos_CodEmpresa_filtrado_nome["data_contratacao"] = pd.to_datetime(processos_CodEmpresa_filtrado_nome["data_contratacao"]).dt.strftime("%d/%m/%Y")
C:\Users\vini7\AppData\Local\Temp\ipykernel_14576\3381672975.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  processos_CodEmpresa_filtrado_nome["data_distribuicao"] = pd.to_datetime(processos_CodEmpresa_filtrado_nome["data_distribuicao"]).dt.strftime("%d/%m/%Y")
C:\Users\vini7\AppData\Local\Temp\ipykernel_14576\3381672975.py:7: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  processos_CodEmpresa_filtrado_nome["data_ultima_visualizacao"] = pd.to_datetime(processos_CodEmpresa_filtrado_nome["data_ultima_visualizacao"]).dt.strftime("%d/%m/%Y")

     data_contratacao data_distribuicao data_ultima_visualizacao
0                 NaN               NaN               18/07/2018
1          14/12/2017        26/06/2018               18/10/2018
2                 NaN               NaN               22/08/2017
3                 NaN               NaN               28/09/2017
4          14/08/2014        22/10/2014               22/04/2019
...               ...               ...                      ...
1051              NaN               NaN                      NaN
1052              NaN               NaN                      NaN
1053              NaN               NaN                      NaN
1054              NaN               NaN                      NaN
1055              NaN               NaN                      NaN

[1056 rows x 3 columns]

In [29]:
processos_CodEmpresa_filtrado_nome

,cod_cliente,tipo,tipoprocesso,grupo_processo,codigo_fase,statusprocessual,numero_processo,codorigem,numero_vara,codcomarca,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes,razao_social
0,100910080,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018,NaN,Fulano(a) 225
1,16473336,0,J,44062,184959,30996,"1,23451E+17",0,1.0,183050,0.0,0.0,0.0,14/12/2017,26/06/2018,NaN,18/10/2018,NaN,Fulano(a) 758
2,15916190,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017,NaN,Fulano(a) 940
3,15617858,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017,NaN,Fulano(a) 1327
4,9198969,0,J,44062,101283,30996,"1,23451E+17",0,1.0,183050,15000.0,0.0,0.0,14/08/2014,22/10/2014,07/09/2015 00:00,22/04/2019,NaN,Fulano(a) 1447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7541672,0,J,0,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 212
1052,9334278,0,J,0,0,0,Trabalhista,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 185
1053,7371702,0,J,0,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 1080
1054,7736598,0,J,0,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 175
1055,9575639,0,J,0,0,0,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 148

In [30]:
#Dados dos clientes gerais.
statusprocessual = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático/Backup/v_statusprocessual_CodEmpresa_92577.csv", 
                                  encoding = "latin1", sep=";")

statusprocessual

,codigo,descricao,codempresa,migracao,ativo,migracao2,migracao3
0,1,DEMANDADO,0,NaN,1,NaN,NaN
1,32481,RÃ©u,92577,NaN,1,NaN,NaN
2,3,------------------------------,0,NaN,0,NaN,NaN
3,33277,Impetrante,92577,NaN,1,NaN,NaN
4,30996,Autor,92577,NaN,1,NaN,NaN
5,37103,Reclamada,92577,NaN,1,NaN,NaN
6,62831,Impetrado,92577,NaN,1,NaN,NaN
7,2,DEMANDANTE,0,NaN,1,NaN,NaN
8,32239,Reclamante,92577,NaN,1,NaN,NaN
9,68758,Agravante,92577,NaN,1,NaN,NaN
10,119768,Executado,92577,NaN,1,NaN,NaN
11,69661,Requerente,92577,NaN,1,NaN,NaN
12,78184,Recorrente,92577,NaN,1,NaN,NaN
13,68915,Embargado,92577,NaN,1,NaN,NaN
14,86048,Recorrido,92577,NaN,1,NaN,NaN
15,92805,Exequente,92577,NaN,1,NaN,NaN
16,94416,Impugnado,92577,NaN,1,NaN,NaN
17,96601,Consignado,92577,NaN,1,NaN,NaN
18,104357,Requerido,92577,NaN,1,NaN,NaN
19,105351,Excipiente,92577,NaN,1,NaN,NaN
20,105352,Excepto,92577,NaN,1,NaN,NaN
21,122077,Agravado,92577,NaN,1,NaN,NaN
22,122097,Agravado,92577,NaN,1,NaN,NaN
23,100013267,PrecatÃ³rio,92577,NaN,1,NaN,NaN
24,100030631,Interessado,92577,NaN,1,NaN,NaN

In [31]:
processos_CodEmpresa_filtrado_nome_status = pd.merge(processos_CodEmpresa_filtrado_nome, statusprocessual[["codigo", "descricao"]], 
                                                     left_on = "statusprocessual", right_on = "codigo", how = "left")

processos_CodEmpresa_filtrado_nome_status = processos_CodEmpresa_filtrado_nome_status.drop(columns="statusprocessual")
processos_CodEmpresa_filtrado_nome_status = processos_CodEmpresa_filtrado_nome_status.drop(columns="codigo")

processos_CodEmpresa_filtrado_nome_status = processos_CodEmpresa_filtrado_nome_status.rename(columns={"descricao": "FASE_PROCESSUAL"})

processos_CodEmpresa_filtrado_nome_status

,cod_cliente,tipo,tipoprocesso,grupo_processo,codigo_fase,numero_processo,codorigem,numero_vara,codcomarca,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes,razao_social,FASE_PROCESSUAL
0,100910080,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018,NaN,Fulano(a) 225,NaN
1,16473336,0,J,44062,184959,"1,23451E+17",0,1.0,183050,0.0,0.0,0.0,14/12/2017,26/06/2018,NaN,18/10/2018,NaN,Fulano(a) 758,Autor
2,15916190,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017,NaN,Fulano(a) 940,NaN
3,15617858,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017,NaN,Fulano(a) 1327,NaN
4,9198969,0,J,44062,101283,"1,23451E+17",0,1.0,183050,15000.0,0.0,0.0,14/08/2014,22/10/2014,07/09/2015 00:00,22/04/2019,NaN,Fulano(a) 1447,Autor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7541672,0,J,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 212,NaN
1052,9334278,0,J,0,0,Trabalhista,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 185,NaN
1053,7371702,0,J,0,0,FGTS 1999,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 1080,NaN
1054,7736598,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 175,NaN
1055,9575639,0,J,0,0,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 148,NaN

In [32]:
#Dados dos clientes gerais.
comarca = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático/Backup/v_comarca_CodEmpresa_92577.csv", 
                                  encoding = "latin1", sep=";")

comarca

,codigo,codempresa,descricao,migracao,ativo,migracao2,migracao3
0,100122904,92577,Campo Grande,NaN,1,NaN,NaN
1,100118968,92577,Cascavel,NaN,1,NaN,NaN
2,100111753,92577,Rio Grande,NaN,1,NaN,NaN
3,100110937,92577,Mesquita,NaN,1,NaN,NaN
4,100104449,92577,SÃ£o Paulo,NaN,1,NaN,NaN
5,100093114,92577,DivinÃ³polis,NaN,1,NaN,NaN
6,100088710,92577,Rio de Janeiro,NaN,1,NaN,NaN
7,100088414,92577,Itapeva,NaN,1,NaN,NaN
8,100074397,92577,Colatina,NaN,1,NaN,NaN
9,100056853,92577,Lavras,NaN,1,NaN,NaN
10,100046822,92577,GuanhÃ£es,NaN,1,NaN,NaN
11,100043773,92577,Caratinga,NaN,1,NaN,NaN
12,100033335,92577,ParanÃ¡,NaN,1,NaN,NaN
13,100031306,92577,JaguariaÃ­va,NaN,1,NaN,NaN
14,100026207,92577,Carangola,NaN,1,NaN,NaN
15,685068,92577,Itabira,NaN,1,NaN,NaN
16,683823,92577,Duque de Caxias,NaN,1,NaN,NaN
17,676923,92577,Ponta Grossa,NaN,1,NaN,NaN
18,675562,92577,Ouro Preto,NaN,1,NaN,NaN
19,670764,92577,Belo Oriente,NaN,1,NaN,NaN
20,604128,92577,Nova Era,NaN,1,NaN,NaN
21,603492,92577,Inhapim,NaN,1,NaN,NaN
22,565375,92577,SÃ£o JosÃ© dos Campos,NaN,1,NaN,NaN
23,183052,92577,Coronel Fabriciano,NaN,1,NaN,NaN
24,245248,92577,TimÃ³teo,NaN,1,NaN,NaN
25,407350,92577,Governador Valadares,NaN,1,NaN,NaN
26,375531,92577,Belo Horizonte,NaN,1,NaN,NaN
27,183050,92577,Ipatinga,NaN,1,NaN,NaN
28,465897,92577,BrasÃ­lia,NaN,1,NaN,NaN

In [33]:
processos_CodEmpresa_filtrado_nome_status_comarca = pd.merge(processos_CodEmpresa_filtrado_nome_status, comarca[["codigo", "descricao"]], 
                                                     left_on = "codcomarca", right_on = "codigo", how = "left")

processos_CodEmpresa_filtrado_nome_status_comarca = processos_CodEmpresa_filtrado_nome_status_comarca.drop(columns="codcomarca")
processos_CodEmpresa_filtrado_nome_status_comarca = processos_CodEmpresa_filtrado_nome_status_comarca.drop(columns="codigo")

processos_CodEmpresa_filtrado_nome_status_comarca = processos_CodEmpresa_filtrado_nome_status_comarca.rename(columns={"descricao": "COMARCA"})

processos_CodEmpresa_filtrado_nome_status_comarca

,cod_cliente,tipo,tipoprocesso,grupo_processo,codigo_fase,numero_processo,codorigem,numero_vara,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes,razao_social,FASE_PROCESSUAL,COMARCA
0,100910080,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018,NaN,Fulano(a) 225,NaN,NaN
1,16473336,0,J,44062,184959,"1,23451E+17",0,1.0,0.0,0.0,0.0,14/12/2017,26/06/2018,NaN,18/10/2018,NaN,Fulano(a) 758,Autor,Ipatinga
2,15916190,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017,NaN,Fulano(a) 940,NaN,NaN
3,15617858,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017,NaN,Fulano(a) 1327,NaN,NaN
4,9198969,0,J,44062,101283,"1,23451E+17",0,1.0,15000.0,0.0,0.0,14/08/2014,22/10/2014,07/09/2015 00:00,22/04/2019,NaN,Fulano(a) 1447,Autor,Ipatinga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7541672,0,J,0,0,FGTS 1999,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 212,NaN,NaN
1052,9334278,0,J,0,0,Trabalhista,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 185,NaN,NaN
1053,7371702,0,J,0,0,FGTS 1999,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 1080,NaN,NaN
1054,7736598,0,J,0,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 175,NaN,NaN
1055,9575639,0,J,0,0,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 148,NaN,NaN

In [34]:
processos_CodEmpresa_filtrado_nome_status_comarca["COMARCA"].unique()

array([nan, 'Ipatinga', 'Coronel Fabriciano', 'TimÃ³teo', 'Belo Oriente',
       'Carangola', 'BrasÃ\xadlia', 'Belo Horizonte', 'SÃ£o Paulo',
       'Caratinga', 'Inhapim', 'Itabira', 'JaguariaÃ\xadva', 'Colatina',
       'Ouro Preto'], dtype=object)

In [35]:
#Dados dos clientes gerais.
grupo_processo = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático/Backup/v_grupo_processo_CodEmpresa_92577.csv", 
                                  encoding = "latin1", sep=";")

grupo_processo

,codigo,descricao,codempresa,migracao,ativo,migracao2,migracao3
0,100014357,Extrajudicial,92577,NaN,1,NaN,NaN
1,178081,Administrativo,92577,NaN,1,NaN,NaN
2,44152,JustiÃ§a Federal,92577,NaN,1,NaN,NaN
3,44062,JustiÃ§a Estadual,92577,NaN,1,NaN,NaN
4,44883,JustiÃ§a do Trabalho,92577,NaN,1,NaN,NaN

In [36]:
processos_CodEmpresa_filtrado_nsc_gp = pd.merge(processos_CodEmpresa_filtrado_nome_status_comarca, grupo_processo[["codigo", "descricao"]], 
                                                     left_on = "grupo_processo", right_on = "codigo", how = "left")

processos_CodEmpresa_filtrado_nsc_gp = processos_CodEmpresa_filtrado_nsc_gp.drop(columns="grupo_processo")
processos_CodEmpresa_filtrado_nsc_gp = processos_CodEmpresa_filtrado_nsc_gp.drop(columns="codigo")

processos_CodEmpresa_filtrado_nsc_gp = processos_CodEmpresa_filtrado_nsc_gp.rename(columns={"descricao": "GRUPO_ACAO"})

processos_CodEmpresa_filtrado_nsc_gp["GRUPO_ACAO"] = processos_CodEmpresa_filtrado_nsc_gp["GRUPO_ACAO"].fillna("Administrativo")
processos_CodEmpresa_filtrado_nsc_gp

,cod_cliente,tipo,tipoprocesso,codigo_fase,numero_processo,codorigem,numero_vara,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes,razao_social,FASE_PROCESSUAL,COMARCA,GRUPO_ACAO
0,100910080,0,J,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018,NaN,Fulano(a) 225,NaN,NaN,Administrativo
1,16473336,0,J,184959,"1,23451E+17",0,1.0,0.0,0.0,0.0,14/12/2017,26/06/2018,NaN,18/10/2018,NaN,Fulano(a) 758,Autor,Ipatinga,JustiÃ§a Estadual
2,15916190,0,J,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017,NaN,Fulano(a) 940,NaN,NaN,Administrativo
3,15617858,0,J,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017,NaN,Fulano(a) 1327,NaN,NaN,Administrativo
4,9198969,0,J,101283,"1,23451E+17",0,1.0,15000.0,0.0,0.0,14/08/2014,22/10/2014,07/09/2015 00:00,22/04/2019,NaN,Fulano(a) 1447,Autor,Ipatinga,JustiÃ§a Estadual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7541672,0,J,0,FGTS 1999,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 212,NaN,NaN,Administrativo
1052,9334278,0,J,0,Trabalhista,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 185,NaN,NaN,Administrativo
1053,7371702,0,J,0,FGTS 1999,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 1080,NaN,NaN,Administrativo
1054,7736598,0,J,0,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 175,NaN,NaN,Administrativo
1055,9575639,0,J,0,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 148,NaN,NaN,Administrativo

In [37]:
#Dados dos clientes gerais.
fase = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático/Backup/v_fase_CodEmpresa_92577.csv", 
                                  encoding = "latin1", sep=";")

fase

   codigo           fase  codempresa  migracao  ativo  migracao2  migracao3
0  223161   Conhecimento       92577       NaN      1        NaN        NaN
1  184959      Arquivado       92577       NaN      1        NaN        NaN
2   84674     ApelaÃ§Ã£o       92577       NaN      1        NaN        NaN
3   70518     ExecuÃ§Ã£o       92577       NaN      1        NaN        NaN
4   68659  ConciliaÃ§Ã£o       92577       NaN      1        NaN        NaN
5  101283    InstruÃ§Ã£o       92577       NaN      1        NaN        NaN

In [39]:
processos_CodEmpresa_filtrado_nsc_gpfase = pd.merge(processos_CodEmpresa_filtrado_nsc_gp, fase[["codigo", "fase"]], 
                                                     left_on = "codigo_fase", right_on = "codigo", how = "left")

processos_CodEmpresa_filtrado_nsc_gpfase = processos_CodEmpresa_filtrado_nsc_gpfase.drop(columns="codigo_fase")
processos_CodEmpresa_filtrado_nsc_gpfase = processos_CodEmpresa_filtrado_nsc_gpfase.drop(columns="codigo")

processos_CodEmpresa_filtrado_nsc_gpfase = processos_CodEmpresa_filtrado_nsc_gpfase.rename(columns={"fase": "GRUPO_FASE"})

processos_CodEmpresa_filtrado_nsc_gpfase

,cod_cliente,tipo,tipoprocesso,numero_processo,codorigem,numero_vara,valor_causa,valor_causa2,pasta,data_contratacao,data_distribuicao,data_encerramento,data_ultima_visualizacao,observacoes,razao_social,FASE_PROCESSUAL,COMARCA,GRUPO_ACAO,GRUPO_FASE
0,100910080,0,J,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,18/07/2018,NaN,Fulano(a) 225,NaN,NaN,Administrativo,NaN
1,16473336,0,J,"1,23451E+17",0,1.0,0.0,0.0,0.0,14/12/2017,26/06/2018,NaN,18/10/2018,NaN,Fulano(a) 758,Autor,Ipatinga,JustiÃ§a Estadual,Arquivado
2,15916190,0,J,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,22/08/2017,NaN,Fulano(a) 940,NaN,NaN,Administrativo,NaN
3,15617858,0,J,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,28/09/2017,NaN,Fulano(a) 1327,NaN,NaN,Administrativo,NaN
4,9198969,0,J,"1,23451E+17",0,1.0,15000.0,0.0,0.0,14/08/2014,22/10/2014,07/09/2015 00:00,22/04/2019,NaN,Fulano(a) 1447,Autor,Ipatinga,JustiÃ§a Estadual,InstruÃ§Ã£o
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7541672,0,J,FGTS 1999,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 212,NaN,NaN,Administrativo,NaN
1052,9334278,0,J,Trabalhista,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 185,NaN,NaN,Administrativo,NaN
1053,7371702,0,J,FGTS 1999,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 1080,NaN,NaN,Administrativo,NaN
1054,7736598,0,J,Aguardando numeraÃ§Ã£o,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 175,NaN,NaN,Administrativo,NaN
1055,9575639,0,J,SB - 42: Aposentadoria por tempo de contribuiÃ...,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Fulano(a) 148,NaN,NaN,Administrativo,NaN